In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Passenger Data (2018-2019)

In [2]:
passenger = pd.read_csv("D:\Python(New)\Project\Mid_Term_Project\Colin\original\passenger_2018_2019.csv")

In [3]:
passenger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961571 entries, 0 to 961570
Data columns (total 38 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   departures_scheduled   961571 non-null  int64
 1   departures_performed   961571 non-null  int64
 2   payload                961571 non-null  int64
 3   seats                  961571 non-null  int64
 4   passengers             961571 non-null  int64
 5   freight                961571 non-null  int64
 6   mail                   961571 non-null  int64
 7   distance               961571 non-null  int64
 8   ramp_to_ramp           961571 non-null  int64
 9   air_time               961571 non-null  int64
 10  unique_carrier         961571 non-null  object
 11  airline_id             961571 non-null  int64
 12  unique_carrier_name    961571 non-null  object
 13  region                 961571 non-null  object
 14  carrier                961571 non-null  object
 15  carrier_name           961571 non-null  object
 16  carrier_group          961571 non-null  int64
 17  carrier_group_new      961571 non-null  int64
 18  origin_airport_id      961571 non-null  int64
 19  origin_city_market_id  961571 non-null  int64
 20  origin                 961571 non-null  object
 21  origin_city_name       961571 non-null  object
 22  origin_country         961571 non-null  object
 23  origin_country_name    961571 non-null  object
 24  dest_airport_id        961571 non-null  int64
 25  dest_city_market_id    961571 non-null  int64
 26  dest                   961571 non-null  object
 27  dest_city_name         961571 non-null  object
 28  dest_country           961571 non-null  object
 29  dest_country_name      961571 non-null  object
 30  aircraft_group         961571 non-null  int64
 31  aircraft_type          961571 non-null  int64
 32  aircraft_config        961571 non-null  int64
 33  year                   961571 non-null  int64
 34  month                  961571 non-null  int64
 35  distance_group         961571 non-null  int64
 36  class                  961571 non-null  object
 37  data_source            961571 non-null  object
dtypes: int64(23), object(15)
memory usage: 278.8+ MB

In [4]:
passenger.describe()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,origin_airport_id,origin_city_market_id,dest_airport_id,dest_city_market_id,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group
count,961571.000000,961571.000000,9.615710e+05,961571.000000,961571.000000,9.615710e+05,9.615710e+05,961571.000000,961571.000000,961571.000000,...,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000,961571.000000
mean,20.391489,22.889138,8.727807e+05,2654.601040,2175.378692,1.063658e+05,2.902887e+03,1078.708824,2952.182719,2442.810672,...,12830.421265,32101.199288,12819.532584,32090.759511,5.548353,616.093916,1.245250,2018.505825,6.562404,2.703849
std,38.045170,36.074855,1.541638e+06,4928.292242,4130.670527,5.417455e+05,2.780174e+04,1277.115274,5390.934594,4606.457129,...,1612.865265,1531.624903,1613.021353,1529.818387,1.493264,167.129278,0.574149,0.499966,3.455672,2.528350
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,10005.000000,30003.000000,10005.000000,30003.000000,0.000000,10.000000,1.000000,2018.000000,1.000000,1.000000
25%,0.000000,2.000000,4.147000e+04,50.000000,13.000000,0.000000e+00,0.000000e+00,299.000000,118.000000,92.000000,...,11298.000000,30852.000000,11298.000000,30852.000000,6.000000,614.000000,1.000000,2018.000000,4.000000,1.000000
50%,4.000000,9.000000,2.672880e+05,540.000000,413.000000,0.000000e+00,0.000000e+00,692.000000,706.000000,570.000000,...,12892.000000,31703.000000,12892.000000,31703.000000,6.000000,635.000000,1.000000,2019.000000,7.000000,2.000000
75%,28.000000,30.000000,1.073554e+06,3536.500000,2791.000000,3.465000e+03,0.000000e+00,1282.000000,3831.000000,3000.000000,...,14100.000000,33195.000000,14100.000000,33192.000000,6.000000,694.000000,1.000000,2019.000000,10.000000,3.000000
max,2170.000000,1311.000000,4.723840e+07,110336.000000,95777.000000,4.329936e+07,8.163150e+06,10266.000000,895725.000000,214104.000000,...,16876.000000,36843.000000,16876.000000,36843.000000,8.000000,890.000000,4.000000,2019.000000,12.000000,21.000000

In [5]:
passenger_data = passenger[['unique_carrier','airline_id','unique_carrier_name','origin_airport_id','origin_city_market_id','origin','origin_city_name','origin_country','origin_country_name','dest_airport_id','dest_city_market_id','dest','dest_city_name','dest_country','dest_country_name', 'aircraft_group','aircraft_type','seats','passengers','freight','mail','distance','ramp_to_ramp','air_time','month','year','distance_group']]
passenger_data

,unique_carrier,airline_id,unique_carrier_name,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,...,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,month,year,distance_group
0,MQ,20398,Envoy Air,13198,33198,MCI,"Kansas City, MO",US,United States,13930,...,250,233,0,0,403,492,344,1,2018,1
1,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,11003,...,386,265,0,0,196,326,207,1,2018,1
2,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,11267,...,250,213,0,0,240,365,213,1,2018,1
3,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,14457,...,250,163,0,0,779,751,594,1,2018,2
4,MQ,20398,Envoy Air,13931,33667,ORF,"Norfolk, VA",US,United States,11298,...,228,205,0,0,1212,622,550,1,2018,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961566,UA,19977,United Air Lines Inc.,13930,30977,ORD,"Chicago, IL",US,United States,11618,...,29356,26685,29534,220266,719,21898,15192,12,2019,2
961567,DL,19790,Delta Air Lines Inc.,10397,30397,ATL,"Atlanta, GA",US,United States,14635,...,34305,30793,6157,0,515,15995,12749,12,2019,2
961568,NEW,20273,New England Airlines Inc.,10613,30613,BID,"Block Island, RI",US,United States,15855,...,1392,653,400,0,17,2784,2088,12,2019,1
961569,9E,20363,Endeavor Air Inc.,10397,30397,ATL,"Atlanta, GA",US,United States,15412,...,11323,10303,0,0,152,7388,4620,12,2019,1
961570,DL,19790,Delta Air Lines Inc.,14747,30559,SEA,"Seattle, WA",US,United States,14771,...,18093,15440,3837,3125,679,22144,17170,12,2019,2

In [6]:
col = ['airline_id','origin_airport_id','origin_city_market_id','dest_airport_id','dest_city_market_id', 'aircraft_group', 'aircraft_type','distance_group','month','year']
passenger_data[col] = passenger_data[col].astype('str')
passenger_data['fl_date'] = passenger_data[['month', 'year']].agg('/'.join, axis=1)
passenger_data = passenger_data.drop(columns = ['month', 'year'])
passenger_data

C:\Users\quang\AppData\Local\Temp\ipykernel_11132\2008705069.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passenger_data[col] = passenger_data[col].astype('str')
C:\Users\quang\AppData\Local\Temp\ipykernel_11132\2008705069.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passenger_data['fl_date'] = passenger_data[['month', 'year']].agg('/'.join, axis=1)

,unique_carrier,airline_id,unique_carrier_name,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,...,aircraft_type,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,distance_group,fl_date
0,MQ,20398,Envoy Air,13198,33198,MCI,"Kansas City, MO",US,United States,13930,...,675,250,233,0,0,403,492,344,1,1/2018
1,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,11003,...,631,386,265,0,0,196,326,207,1,1/2018
2,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,11267,...,675,250,213,0,0,240,365,213,1,1/2018
3,MQ,20398,Envoy Air,13930,30977,ORD,"Chicago, IL",US,United States,14457,...,675,250,163,0,0,779,751,594,2,1/2018
4,MQ,20398,Envoy Air,13931,33667,ORF,"Norfolk, VA",US,United States,11298,...,673,228,205,0,0,1212,622,550,3,1/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961566,UA,19977,United Air Lines Inc.,13930,30977,ORD,"Chicago, IL",US,United States,11618,...,888,29356,26685,29534,220266,719,21898,15192,2,12/2019
961567,DL,19790,Delta Air Lines Inc.,10397,30397,ATL,"Atlanta, GA",US,United States,14635,...,622,34305,30793,6157,0,515,15995,12749,2,12/2019
961568,NEW,20273,New England Airlines Inc.,10613,30613,BID,"Block Island, RI",US,United States,15855,...,131,1392,653,400,0,17,2784,2088,1,12/2019
961569,9E,20363,Endeavor Air Inc.,10397,30397,ATL,"Atlanta, GA",US,United States,15412,...,638,11323,10303,0,0,152,7388,4620,1,12/2019
961570,DL,19790,Delta Air Lines Inc.,14747,30559,SEA,"Seattle, WA",US,United States,14771,...,723,18093,15440,3837,3125,679,22144,17170,2,12/2019

In [7]:
passenger_data.to_csv('D:\Python(New)\Project\Mid_Term_Project\Colin\clean\passenger_data_2018_2019.csv', index = False)

## Fuel Consumption (2018-2019)

In [8]:
fuel_consump = pd.read_csv("D:\Python(New)\Project\Mid_Term_Project\Colin\original\\fuel_consumption_2018_2019.csv")
fuel_consump

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,21161,09Q,09Q,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,1504939,2703344.0,4208283,2018
1,1,21352,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,141350,4721.0,146071,2018
2,1,21652,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2018
3,1,21712,2HQ,2HQ,Elite Airways LLC,1,89988.0,0.0,0.0,0.0,...,252948,0.0,0.0,0.0,0.0,252948,1785834,0.0,1785834,2018
4,1,20408,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,309045.0,0.0,0.0,0.0,...,837738,0.0,0.0,0.0,0.0,837738,987918,0.0,987918,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,9,19393,WN,WN,Southwest Airlines Co.,3,161363187.0,0.0,0.0,1035797.0,...,317050854,0.0,0.0,2343476.0,2343476.0,319394330,317265738,2343476.0,319609214,2019
1054,9,20452,YX,YX,Republic Airline,3,22895.0,0.0,0.0,0.0,...,46818,0.0,0.0,0.0,0.0,46818,46818,0.0,46818,2019
1055,9,20378,YV,YV,Mesa Airlines Inc.,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2019
1056,9,20207,XP,XP,XTRA Airways,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2019
1057,9,20377,X9,X9,Omni Air International LLC,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,808310,8797931.0,9606241,2019

In [9]:
fuel_data = fuel_consump[['airline_id','unique_carrier','carrier_name','sdomt_gallons','satl_gallons','spac_gallons','slat_gallons','sint_gallons','ts_gallons','tdomt_gallons','tint_gallons','total_gallons','sdomt_cost','satl_cost','spac_cost','slat_cost','sint_cost','ts_cost','tdomt_cost','tint_cost','total_cost','month','year']]

In [10]:
cols = ['airline_id','month','year']
fuel_data[cols] = fuel_data[cols].astype('str')
fuel_data['date_time'] = fuel_data[['month', 'year']].agg('/'.join, axis=1)
fuel_data = fuel_data.drop(columns =['month','year'])
fuel_data

C:\Users\quang\AppData\Local\Temp\ipykernel_11132\2692082537.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuel_data[cols] = fuel_data[cols].astype('str')
C:\Users\quang\AppData\Local\Temp\ipykernel_11132\2692082537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuel_data['date_time'] = fuel_data[['month', 'year']].agg('/'.join, axis=1)

,airline_id,unique_carrier,carrier_name,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,sint_gallons,ts_gallons,tdomt_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,date_time
0,21161,09Q,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",0.0,0.0,0.0,0.0,0.0,0.0,484770.0,...,0,0.0,0.0,0.0,0.0,0,1504939,2703344.0,4208283,1/2018
1,21352,0WQ,Avjet Corporation,0.0,0.0,0.0,0.0,0.0,0.0,38515.0,...,0,0.0,0.0,0.0,0.0,0,141350,4721.0,146071,1/2018
2,21652,27Q,"Jet Aviation Flight Services, Inc.",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,1/2018
3,21712,2HQ,Elite Airways LLC,89988.0,0.0,0.0,0.0,0.0,89988.0,NaN,...,252948,0.0,0.0,0.0,0.0,252948,1785834,0.0,1785834,1/2018
4,20408,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,309045.0,0.0,0.0,0.0,0.0,309045.0,364447.0,...,837738,0.0,0.0,0.0,0.0,837738,987918,0.0,987918,1/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,19393,WN,Southwest Airlines Co.,161363187.0,0.0,0.0,1035797.0,1035797.0,162398984.0,161469375.0,...,317050854,0.0,0.0,2343476.0,2343476.0,319394330,317265738,2343476.0,319609214,9/2019
1054,20452,YX,Republic Airline,22895.0,0.0,0.0,0.0,0.0,22895.0,22895.0,...,46818,0.0,0.0,0.0,0.0,46818,46818,0.0,46818,9/2019
1055,20378,YV,Mesa Airlines Inc.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,9/2019
1056,20207,XP,XTRA Airways,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,9/2019
1057,20377,X9,Omni Air International LLC,0.0,0.0,0.0,0.0,0.0,0.0,369977.0,...,0,0.0,0.0,0.0,0.0,0,808310,8797931.0,9606241,9/2019

In [11]:
fuel_data.to_csv('D:\Python(New)\Project\Mid_Term_Project\Colin\clean\\fuel_data_2018_2019.csv', index = False)

## Joining Passenger and Fuel (2018-2019)

In [14]:
passenger_data.groupby(['unique_carrier']).sum().reset_index()

,unique_carrier,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time
0,02Q,3392,2591,0,0,109352,0,0
1,04Q,158363,94625,0,0,1196844,1329242,1056252
2,07Q,120308,54236,0,0,172801,0,0
3,09Q,2443929,1009096,2879881,0,4839814,1785407,1452247
4,0BQ,1031,239,0,0,236413,0,0
...,...,...,...,...,...,...,...,...
332,Z3,54855,13717,293922,2029275,65851,191819,158823
333,Z3Q,70940,56032,76,0,3220,283760,255740
334,ZK,23636,7528,0,0,13452,105777,85705
335,ZW,10067800,7959203,11326,1461,2081959,18144436,12405812
336,ZX,2776026,1986689,0,0,412371,0,0

In [15]:
fuel_passenger = pd.merge(passenger_data,fuel_data, how = 'inner')

In [ ]:
fuel_passenger